<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>100 Дней</title>
		<link rel="stylesheet" href="/static/css/master.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/static/css/jquery.countdown.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<script src="/static/js/jquery-1.3.min.js" type="text/javascript"> </script>		
		<script src="/static/js/jquery.countdown.js" type="text/javascript"> </script>
		<script type="text/javascript"> 
		function setbg(color)
		{
		document.getElementById("styled").style.background=color
		}

	
		$(function () {
			$('#button').click(function(){
		        var text = $('textarea#styled').val();
		        $('<p>' + text +'</p>').appendTo('#main-content #realtime')
		    });
		
			var newYear = new Date(); 
			newYear = new Date(newYear.getFullYear() + 1, 1 - 1, 1);
			$('#defaultCountdown').countdown({until: newYear});
		});
		</script>
	</head>
	<body>
		<div id="content">
			<div id="sidebar">
				<a href="/"><img src="/static/img/logo.png"></a>
				
				{% if username and not errors %}
				<div id="greet">
					<p>привет {{ username }}, <a href="/admin/goal/report/">поделись результатом</a> за день?</p></div>
				{% else %}
				{% if errors %}
					<div id='error'><p>{{ errors }}</p></div>
				{% endif %}
			  <form action='.' method='post'>
			    <label for="username">логин:</label>
			    <input type="text" class="text_field" name="username" value="{{ username }}" id="username">
			    <label for="password">пароль:</label>
			    <input type="password" class="text_field" name="password" value="{{ password }}" id="password">

			    <input type="submit" id="button" value="вход/регистрация" />
			    <input type="hidden" name="next" value="{{ next|escape }}" />
			   </form>
				{% endif%}
				</div>

			<div id="main-content">
				<div id="defaultCountdown"></div> 
				{% load markup %}
				
				{% for user in users %}
				<h3>Цель <a href="/{{ user }}">{{ user }}</a> на 100-дневный отрезок:</h3>
				<ul>
					{% for goal in goals %}
					{% if goal.user = user %}<li>{{ goal }}</li>{% endif %}
					{% endfor %}	
				</ul>
				{% endfor %}
				

				</div>
				
			</div>
	</body>
</html>
